<h1><%= @user.email %></h1>
<% if user_signed_in? %>
	<% if @user.id == current_user.id %>
		<%= link_to "Edit Registration Info", edit_user_registration_path %>
	<% end %>
<% end %>





<% if @user.email == @post.user.email %>

	<%= render 'profile' %>
	<h3> Comments: </h3>
	<%= render @post.comments %>
	<p>Reply to Post
	<%= render 'comments/form' %></p>
	<br>

<% end %>

